﻿@model CMS.Domain.Entities.Page

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">

    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home"></i> Главная</a></li>
        <li><a href="@Url.Action("Index", "Page")">Страницы</a></li>
        <li class="active">Создать страницу</li>
    </ul>

    <h2 class="m-t-xs">Создание страницы</h2>

    <div class="row">
        <div class="col-sm-12">
            <section class="panel panel-default">
                <header class="panel-heading font-bold">Метаданные</header>
                <div class="panel-body">
                    @using (Html.BeginForm("Create", "Page", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary()

                        <div class="form-group clearfix">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Alias)
                                @Html.TextBoxFor(model => model.Alias, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Title)
                                @Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group clearfix">
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Author)
                                @Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
                            </div>
                            <div class="col-md-6">
                                @Html.LabelFor(model => model.Keywords)
                                @Html.TextBoxFor(model => model.Keywords, new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.LabelFor(model => model.Description)
                            @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                        </div>

                        <div class="col-md-12">
                            <button name="action" type="submit" value="save" class="btn btn-s-md btn-success">Сохранить</button>
                            <button name="action" type="submit" value="return" class="btn btn-s-md btn-warning">Сохранить и вернуться</button>
                            @Html.ActionLink("Отменить", "Index", null, new { @class = "btn btn-s-md btn-danger" })
                        </div>
                    }

                </div>
            </section>
        </div>
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>