﻿@model IEnumerable<CMS.Domain.Entities.Page>

@{
    ViewBag.Title = "Страницы";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="col-md-12">

    <ul class="breadcrumb no-border no-radius b-b b-light pull-in">
        <li><a href="@Url.Action("Index", "Admin")"><i class="fa fa-home"></i> Главная</a></li>
        <li class="active">Страницы</li>
    </ul>

    <h2 class="m-t-xs">Страницы</h2>


    <section class="panel panel-default">

        <div class="table-responsive">
            <table class="table table-striped b-t b-light text-sm">
                <thead>
                    <tr>
                        <th width="20"><input type="checkbox"></th>
                        <th class="th-sortable" data-toggle="class">
                            @Html.DisplayNameFor(model => model.Title)
                            <span class="th-sort">
                                <i class="fa fa-sort-down text"></i>
                                <i class="fa fa-sort-up text-active"></i>
                                <i class="fa fa-sort"></i>
                            </span>
                        </th>
                        <th>@Html.DisplayNameFor(model => model.Alias)</th>
                        <th>@Html.DisplayNameFor(model => model.Author)</th>
                        <th width="15%">@Html.DisplayNameFor(model => model.CreationDate)</th>
                        <th width="15%">@Html.DisplayNameFor(model => model.LastChangeDate)</th>
                        <th width="8%">Действия</th>
                        <th width="30">Статус</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" name="post[]" value="2"></td>
                            <td>@Html.ActionLink(item.Title, "Edit", new { pageID = item.PageID })</td>
                            <td>@Html.DisplayFor(x => item.Alias)</td>
                            <td>@Html.DisplayFor(x => item.Author)</td>
                            <td>@Html.DisplayFor(x => item.CreationDate)</td>
                            <td>@Html.DisplayFor(x => item.LastChangeDate)</td>
                            <td>
                                <a href="@Url.Action("Edit", new { pageID = item.PageID })" class="btn btn-sm btn-icon btn-warning" data-toggle="tooltip" data-original-title="Редактировать"><i class="fa fa-pencil"></i></a>
                                <a href="@Url.Action("Copy", new { pageID = item.PageID })" class="btn btn-sm btn-icon btn-info" data-toggle="tooltip" data-original-title="Копировать"><i class="fa fa-copy"></i></a>
                                <a href="@Url.Action("Delete", new { pageID = item.PageID })" class="btn btn-sm btn-icon btn-danger" data-toggle="tooltip" data-original-title="Удалить"><i class="fa fa-times"></i></a>
                            </td>
                            <td>
                                @if (item.Status)
{
<a href="@Url.Action("Publish", new { pageID = item.PageID })" class="btn btn-sm btn-icon btn-success" data-toggle="tooltip" data-original-title="Снять с публикации"><i class="fa fa-check"></i></a>
}
                                    else
                                    {
<a href="@Url.Action("Publish", new { pageID = item.PageID })" class="btn btn-sm btn-icon btn-danger" data-toggle="tooltip" data-original-title="Опубликовать"><i class="fa fa-ban"></i></a>
                                    }

                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <footer class="panel-footer">
                    <div class="row">
                        <div class="col-sm-4 hidden-xs">
                            @Html.ActionLink("Создать страницу", "Create", "Page", null, new { @class = "btn btn-sm btn-success" })
                            <select class="input-sm form-control input-s-lg inline">
                                <option value="0">Опубликовать</option>
                                <option value="1">Снять с публикации</option>
                                <option value="2">Копировать</option>
                                <option value="3">Сохранить в файл</option>
                                <option value="4">Удалить</option>
                            </select>
                            <button class="btn btn-sm btn-default">Применить</button>

                        </div>
                        <div class="col-sm-4 text-center">
                            <small class="text-muted inline m-t-sm m-b-sm">20-30 из 50</small>
                        </div>
                        <div class="col-sm-4 text-right text-center-xs">
                            <ul class="pagination pagination-sm m-t-none m-b-none">
                                <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </footer>
            </section>
        </div>